
---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: paperless-redis
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: redis
      version: 24.0.0
      sourceRef:
        kind: HelmRepository
        name: bitnami
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    architecture: standalone
    master:
      persistence:
        enabled: true
        storageClass: nfs-client
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
    auth:
      enabled: false