---
apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDatasource
metadata:
  namespace: monitoring
  name: teslamate-datasource
spec:
  instanceSelector:
    matchLabels:
      dashboards: "grafana"
  datasource:
    name: TeslaMate
    type: postgres
    editable: false
    access: proxy
    jsonData:
      database: app
      connMaxLifetime: 14400
      maxIdleConns: 2
      maxOpenConns: 0
      postgresVersion: 1400
      sslmode: disable
      timescaledb: false
    secureJsonData:
      password: ${SECRET_TESLAMATE_POSTGRES_PASSWORD}
    url: 192.168.178.204:5432
    user: app
