---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: lldap
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 4.6.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controller:
      type: statefulset
    image:
      repository: ghcr.io/lldap/lldap
      tag: v0.6.2
    env:
      TZ: Europe/Berlin
      LLDAP_HTTP_PORT: &http-port 80
      LLDAP_LDAP_PORT: &ldap-port 3890
      LLDAP_HTTP_URL: https://lldap.nas01.kirstein.me
      LLDAP_LDAP_BASE_DN: dc=kirstein,dc=me
      LLDAP_USER_DN: admin
      LLDAP_VERBOSE: true
    envFrom:
      - secretRef:
          name: lldap-secret
    service:
      main:
        ports:
          http:
            port: *http-port
          ldap:
            enabled: true
            port: *ldap-port
    ingress:
      main:
        enabled: true
        ingressClassName: internal-ingress
        hosts:
        - host: &host lldap.nas01.kirstein.me
          paths:
            - path: /
              pathType: Prefix
        tls:
          - secretName: lldap-tls-certificate
            hosts:
              - *host
    persistence:
      data:
        enabled: true
        storageClass: nfs-client
        accessMode: ReadWriteMany
        size: 1Gi
    resources:
      requests:
        cpu: 100m
        memory: 100Mi
      limits:
        memory: 500Mi