---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: radarr
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: radarr
      version: 0.19.0
      sourceRef:
        kind: HelmRepository
        name: media-servarr
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    application:
      port: 80
      urlBase: ''
      config:
        filename: 'config.xml'
        contents: |
          <Config>
            <LogLevel>info</LogLevel>
            <EnableSsl>False</EnableSsl>
            <AnalyticsEnabled>False</AnalyticsEnabled>
            <AuthenticationMethod>External</AuthenticationMethod>
            <ApiKey>${SECRET_RADARR_API_KEY}</ApiKey>
            <Port>80</Port>
          </Config>
    ingress:
      enabled: true
      className: internal-ingress
      host: radarr.int.kirstein.me 
    deployment:
      container:
        volumeMounts:
        - name: 'config'
          mountPath: '/config'
        - name: 'media'
          mountPath: '/data'
      volumes:
        config:
          persistentVolumeClaim:
            claimName: 'radarr-config'
        media:
          persistentVolumeClaim:
            claimName: 'shared-media-data'
    persistentVolumeClaims:
      radarr-config:
        storageClassName: "nfs-client"
