---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: homebridge
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 4.6.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    image:
      repository: oznu/homebridge
      tag: "2024-10-25"
    service:
      main:
        ports:
          http:
            port: 8581
    ingress:
      main:
        enabled: true
        ingressClassName: "internal-ingress"
        annotations: 
          external-dns.alpha.kubernetes.io/hostname: hb.nas01.kirstein.me
        hosts:
          - host: hb.nas01.kirstein.me
            paths:
            - path: /
              pathType: Prefix
    persistence:
      homebridge:
        enabled: true
        mountPath: /homebridge
        storageClass:  nfs-client
        accessMode: ReadWriteOnce
        size: 1Gi
    hostNetwork: true
