
---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: paperless-valkey
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: valkey
      version: 0.9.3
      sourceRef:
        kind: HelmRepository
        name: valkey
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    dataStorage:
      enabled: true
      requestedSize: 1Gi
      className: nfs-client 
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true